<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LeMP" version="26.4.0" targetFramework="net47" />
  <package id="Loyc.Collections" version="26.4.0" targetFramework="net47" />
  <package id="Loyc.Ecs" version="26.4.0" targetFramework="net47" />
  <package id="Loyc.Essentials" version="26.4.0" targetFramework="net47" />
  <package id="Loyc.Math" version="26.4.0" targetFramework="net47" />
  <package id="Loyc.Syntax" version="26.4.0" targetFramework="net47" />
  <package id="Loyc.Utilities" version="26.4.0" targetFramework="net47" />
</packages>